UERNAME: foo 
PASSWORD: bar 

SERVERS:
  -
      ssh_ip: "<ssh ip address>"
      role: controller|compute|storage
  -
      ssh_ip: "<ssh ip address>"
      role: controller|compute|storage
  -
      ssh_ip: "<ssh ip address>"
      role: controller|compute|storage

